# Ambiente virtual
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# IDEs e Editores
.vscode/
.idea/

# Arquivos do Sistema
.DS_Store
Thumbs.db

# Logs e Temporários
*.log
*.tmp
data/temp/*
!data/temp/.gitkeep

# Áudios Gerados (Entrada e Saída de Dados)
data/output/*
!data/output/.gitkeep

# Textos de teste pessoais (opcional: ignora textos pesados de teste, mantendo a estrutura)
data/input/*
!data/input/.gitkeep

# Modelos do Kokoro e do Piper (Arquivos pesados e binários)
engines/piper/models/*.onnx
engines/piper/models/*.json
engines/kokoro/models/*.onnx
engines/kokoro/models/*.bin

# Ignora apenas arquivos de mídia pesados
*.wav
*.mp3
*.flac
*.txt